<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <div
    id="__react-email-preview"
    style="
      display: none;
      overflow: hidden;
      line-height: 1px;
      opacity: 0;
      max-height: 0;
      max-width: 0;
    "
  >
    Your temporary code
    <div></div>
  </div>

  <body style="background-color: #ffffff">
    <table
      align="center"
      role="presentation"
      cellspacing="0"
      cellpadding="0"
      border="0"
      width="100%"
      style="
        max-width: 37.5em;
        padding-left: 12px;
        padding-right: 12px;
        margin: 0 auto;
      "
    >
      <tr style="width: 100%">
        <td>
          <img
            alt="Plaid"
            src="https://pbs.twimg.com/profile_images/1301249280955441152/-wY2VTKE_400x400.jpg"
            width="212"
            height="88"
            style="
              display: block;
              outline: none;
              border: none;
              text-decoration: none;
              margin: 10px auto;
              object-fit: contain;
            "
          />
          <h1
            style="color:#333;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;font-size:24px;font-weight:bold;margin:20px 0;padding:0"
          >
            Verification code
          </h1>
          <p
            style="font-size:14px;line-height:24px;margin:24px 0;color:#ababab;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;margin-bottom:14px"
          >
            copy and paste this temporary verification code:
          </p>
          <p
            style="
              font-size: 16px;
              line-height: 24px;
              margin: 16px 0;
              display: inline-block;
              padding: 0.5rem;
              width: 90.5%;
              background-color: rgb(243, 244, 246);
              border-radius: 0.375rem;
              border: 1px solid #eee;
              color: #333;
            "
          >
            {{code}}
          </p>
          <p
            style="font-size:14px;line-height:24px;margin:24px 0;color:#ababab;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;margin-top:14px;margin-bottom:16px"
          >
            If you didn&#x27;t request this code, you can ignore this email.
          </p>
          <p
            style="font-size:14px;line-height:24px;margin:24px 0;color:#ababab;font-family:-apple-system, BlinkMacSystemFont, &#x27;Segoe UI&#x27;, &#x27;Roboto&#x27;, &#x27;Oxygen&#x27;, &#x27;Ubuntu&#x27;, &#x27;Cantarell&#x27;, &#x27;Fira Sans&#x27;, &#x27;Droid Sans&#x27;, &#x27;Helvetica Neue&#x27;, sans-serif;margin-top:12px;margin-bottom:38px"
          >
            Hint: You can set a permanent password.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
